.price{
	color: #a0bb30;
	padding: 0 0 0 3px;
	font-size: 14px;
	margin: auto;
}
.comprar{
	margin: auto;
	font-weight: bold;
	--background: #90B953;
	--background-hover: #171717;
	--color: black;
	width: 80px;
    height: 30px;
    font-size: 10px;
}
.comprar:hover{
	--background: #212121;
	--color: white;
}
.nombre{
	font-size: 12px; 
	font-weight: bold; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}
.nombre:click{
	white-space: normal;
	text-overflow: initial;
	overflow: visible;
}
.flechas {
	margin: auto;
	color: #90B953;
}
.npagina {
	margin: auto;
}