<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="carrusel">
    <ion-slides pager="true" [options]="slideOpts" startAutoplay>
      <ion-slide>
        <img src="../assets/slide1.jpeg" class="cimagenes">
      </ion-slide>
      <ion-slide>
        <img src="../assets/slide2.jpg" class="cimagenes">
      </ion-slide>
      <ion-slide>
        <img src="../assets/slide3.jpg" class="cimagenes">
      </ion-slide>
    </ion-slides>    
  </div>

  <h3 class="related">Más vendidas</h3>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of categorias[0].id; let i = index" size="6">
        <div [style.background-image]="categorias[0].imagen[i]" style="background-size: cover; width: 100%; height: 50px;"></div>  
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="--background: #90B953" lines="none">
          <ion-row>
            <ion-col>
              <ion-label position="floating">Ingresa tú correo</ion-label>
              <ion-input placeholder="Correo"></ion-input>
            </ion-col>
            <ion-col style="display: flex;">
              <ion-button size="small" style="--background: #171717; --color: white; margin: auto;">ENVIAR</ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
