<ion-header>
  <ion-toolbar>
    <ion-title>cookies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section id="main" style="padding: 0 5px 0 7.5px; margin-top: 100px;">
        
  <p class="page_heading" style="font-weight: 100;">Política de cookies</p>
    
  <section id="content" class="page-content page-cms page-cms-7">
    
      <div class="style_content cms_content"><h3><strong>Política de uso de Cookies</strong></h3>
        <p><span><span>¿Quién es el responsable de la web y de los datos que se recopilan?</span></span></p>
        <p></p>
        <p>www.wonduu.com (en adelante la Tienda) es propiedad de K-2 GROUP NEW BUSINESS SPAIN SL (en adelante el Vendedor) con domicilio en <span>Polígono las Avenidas, Calle 2ª Nº30, Torrejón de la Calzada, Madrid, cp 28981</span>, Madrid, con CIF/NIF B84999291 teléfono 91 605 26 15 y correo electrónico comercial@wonduu.com.</p>
        <p>En cumplimiento de lo dispuesto en el artículo 22.2 LSSI, la Tienda únicamente utilizará dispositivos de almacenamiento y recuperación de datos ('Cookies') cuando el usuario haya dado su consentimiento previo para ello, de acuerdo con lo que se indica en la ventana emergente del navegador del usuario cuando accede por primera vez a la Tienda y en los demás términos y condiciones siguientes que todo usuario debe conocer.</p>
        <p>Nuestra Política de Cookies tiene como objetivo ayudar a comprender el uso que hacemos de las cookies, la finalidad de las cookies utilizadas, así como las posibles opciones que el usuario dispone para gestionarlas. La política publicada está sujeta a actualizaciones periódicas.</p>
        <p>Los usuarios pueden acceder a esta información en todo momento mediante el enlace "Política de privacidad y Cookies" habilitado en la web. Los usuarios pueden modificar las preferencias sobre la aceptación de cookies a través de las opciones de su navegador. En el apartado de "Modificar la configuración de las cookies" encontrará más información.</p>
        <h4>¿Qué opciones puedo tomar?</h4>
        <p>Es posible realizar las siguiente acciones:</p>
        <p>Aceptar cookies: No se volverá a visualizar el aviso al acceder a cualquier página de la Tienda. Si continúa navegando, consideramos que acepta el uso de las cookies.</p>
        <p>No aceptar: Se visualizará el aviso siempre al acceder a cualquier página de la Tienda por primera vez. En caso de no aceptar se le redireccionará a un dominio externo limpiando sus datos de navegación.</p>
        <p>Modificar la configuración de las cookies: Podrá borrar las cookies de la Tienda y modificar la configuración de su navegación. Pero esto no evitará que se visualice el aviso de las cookies al acceder de nuevo a la web.</p>
        <h4>¿Qué es una cookie?</h4>
        <p>Una "Cookie" es un pequeño archivo de texto que un sitio web almacena en el navegador del usuario. Las cookies facilitan el uso y la navegación por una página web y son esenciales para el funcionamiento de internet, aportando innumerables ventajas en la prestación de servicios interactivos.</p>
        <p>Así, por ejemplo, son utilizadas para gestionar la sesión del usuario (reduciendo el número de veces que se debe introducir la clave), o para adaptar los contenido de la web a los sus preferencias, entre otras facilidades.</p>
        <p>Más información en&nbsp;<span><a href="http://es.wikipedia.org/wiki/Cookie_(inform%C3%A1tica)">http://es.wikipedia.org/wiki/Cookie_%28inform%C3%A1tica%29</a></span></p>
        <p>En la&nbsp;<span><a href="http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf">guía sobre el uso de cookies de la Agencia de Protección de Datos&nbsp;</a></span>se detallan los diferentes tipos de cookies.</p>
        <h3><strong>¿Qué tipos de cookies utilizamos?</strong></h3>
        <h4>1.- En función de quién las gestiona:</h4>
        <p>Cookies propias: son las que se envían a su navegador desde nuestros equipos o dominios web y desde el que se presta el servicio solicitado.</p>
        <p>Cookies de terceros: son las que se envían a su navegador desde un equipo o dominio web que no gestionamos nosotros, sino una entidad colaboradora como pueda ser Google Analytics.</p>
        <h4>2.- En función del tiempo que están activas:</h4>
        <p>Cookies de sesión: son las que permanecen en el archivo de cookies de su navegador hasta que abandona la página web, de modo que ninguna queda en su dispositivo.</p>
        <p>Cookies persistentes: son las que permanecen en su dispositivo y nuestra web las lee cada vez que realiza una nueva visita. Estas cookies dejan de funcionar pasada una fecha concreta.</p>
        <h4>3.- En función de su finalidad:</h4>
        <p>Cookies técnicas: son las que mejoran la navegación y el buen funcionamiento de nuestra web. Sirven, por ejemplo, para realizar un pedido.</p>
        <p>Cookies de personalización: son las que permiten acceder al servicio con unas características predefinidas en función de una serie de criterios. Sirven, por ejemplo, para elegir el idioma de la web.</p>
        <p>Cookies de análisis: son las que permiten medir y analizar estadísticamente el uso que se hace del servicio prestado. Sirven por ejemplo para saber quién visita la web.</p>
        <h4><strong>Cookies que usamos y terceros prestadores de servicios en nuestro dominio:</strong></h4>
        <p><span><a href="http://doc.prestashop.com/display/PS16/Managing+Cookies">Prestashop</a></span>&nbsp;:</p>
        <p>Nombre de las cookies: PrestaShop-&lt;código de sesión&gt;</p>
        <p>Expiración: 30 días</p>
        <p>Esta cookies generan toda la información de sesión de los visitantes/clientes, así como los empleados, que usan el Content Management System o CMS conocido como Prestashop.</p>
        <div class="legalplus legal_check_analytics">
        <p><span><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Google Analytics</a></span>&nbsp;:</p>
        <p>Nombre de las cookies: __utma, __utmb, __utmc, __utmv, __utmz</p>
        <p>Expiración: Las cookies expiran con la sesión, o a los 30 minutos, o a los 6 meses y la más larga a los 2 años.</p>
        <p>Sus cookies generan un ID de usuario anónimo usado para contabilizar las veces que un usuario visita una web, cómo y cuándo.</p>
        <p>Desde nuestro dominio:</p>
        <p>Nombre de la cookie: _ga, _gat</p>
        <p>Expiración: 2 años y 10 minutos</p>
        <p>Esta cookie permite generar una ID de usuario anónimo usado para contabilizar cuantas veces visita la web, cómo y cuándo.</p>
        </div>
        <div class="legalplus legal_check_facebook">
        <p><span><a href="https://es-es.facebook.com/help/cookies/">Facebook</a></span>&nbsp;:</p>
        <p>Nombre de las cookies: reg_fb_gate, reg_fb_ref, reg_ext_ref, csm, fr, locale, c_user, lu, s, xs</p>
        <p>Expiración: La mayoría de cookies expiran con la sesión, otra a los 7 días, o a 3 meses y la más larga a los dos años.</p>
        <p>Sus cookies técnicas generan los datos precisos para permitir la interacción de un usuario de la red social con la tienda online.</p>
        </div>
        <div class="legalplus legal_check_paypal">
        <p><span><a href="https://www.paypal.com/es/webapps/mpp/ua/cookie-full">Paypal</a></span>&nbsp;:</p>
        <p>Nombre de las cookies: apache, LANG,PYPF, X-PP-K, X-PP-SILOVER, cookie_check, feel_cookie, navcmd, ts, x-pp-s, PP-Corr-ld, sc_f</p>
        <p>Y tres cookies más que se utilizan para verificar la transacción.</p>
        <p>Expiración: Estas cookies expiran la mayoría con la sesión, también algunas a 1 mes, 2, 3 y 5 años y la más larga a los 30 años.</p>
        <p>Sus cookies generan toda la información necesaria para usar el servicio como medio de pago en un proceso de compra.</p>
        </div>
        <div class="legalplus legal_check_youtube">
        <p><span><a href="http://www.google.com/policies/privacy/">Youtube</a></span>&nbsp;:</p>
        <p>Nombre de las cookies: SID, LOGIN_INFO, use_hotbox, PREF, SSID, HSID, watched_video_id_list, __utma, __utmz, demographics, VISITOR_INFO1_LIVE</p>
        <p>Expiración: La mayoría expiran a los 2 años, aunque alguna expira a los 3 meses o a los 22 años.</p>
        <p>Google establece un número de cookies en cualquier página que incluye un video de Youtube. Si bien no tenemos control sobre las cookies de Google, que parece incluir una mezcla de piezas de información para medir el número y el comportamiento de los usuarios de Youtube, incluida la información que vincule sus visitas a nuestro sitio web con su cuenta de Google si usted está inscrito a uno. Información sobre el uso de nuestro sitio web, incluyendo su dirección IP, puede ser transmitida a Google y almacenada en servidores. Esto no lo identifica personalmente a menos que usted haya iniciado sesión en Google, en cuyo caso está vinculada a su cuenta Google.</p>
        <p><strong>Cookies publicitarias de terceros</strong>:</p>
        <p>&nbsp;</p>
        <table><tbody><tr><td>
        <p><strong>NOMBRE</strong></p>
        </td>
        <td>
        <p><strong>SERVIDOR DESDE EL QUE SE ENVÍA</strong></p>
        </td>
        <td>
        <p><strong>FINALIDAD</strong></p>
        </td>
        <td>
        <p><strong>PROPIA/TERCEROS</strong></p>
        </td>
        </tr><tr><td>
        <p>stx_user_id</p>
        </td>
        <td>
        <p>.sharethrough.com</p>
        </td>
        <td>
        <p>Analíticas</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>IDE</p>
        </td>
        <td>
        <p>.doubleclick.net</p>
        </td>
        <td>
        <p>Publicidad Bing/Yahoo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>fr</p>
        </td>
        <td>
        <p>.facebook.com</p>
        </td>
        <td>
        <p>Publicidad Bing/Yahoo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>B</p>
        </td>
        <td>
        <p>.yahoo.com</p>
        </td>
        <td>
        <p>Publicidad Bing/Yahoo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>NID</p>
        </td>
        <td>
        <p>.google.com</p>
        </td>
        <td>
        <p>Publicidad Google</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>CONSENT</p>
        </td>
        <td>
        <p>.google.es</p>
        </td>
        <td>
        <p>Publicidad Google</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>NID</p>
        </td>
        <td>
        <p>.google.es</p>
        </td>
        <td>
        <p>Publicidad Google</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>1P_JAR</p>
        </td>
        <td>
        <p>.google.es</p>
        </td>
        <td>
        <p>Publicidad Google</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>UULE</p>
        </td>
        <td>
        <p>www.google.es</p>
        </td>
        <td>
        <p>Publicidad Google</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>DV</p>
        </td>
        <td>
        <p>www.google.es</p>
        </td>
        <td>
        <p>Publicidad Google</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td><ol><li></li>
        </ol></td>
        <td>
        <p>3lift.com</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>Anj</p>
        </td>
        <td>
        <p>.adnxs.com</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p><strong>SERVIDOR</strong></p>
        </td>
        <td>
        <p><strong>NOMBRE</strong></p>
        </td>
        <td>
        <p><strong>FINALIDAD</strong></p>
        </td>
        <td>
        <p><strong>PROPIA/TERCERO</strong></p>
        </td>
        </tr><tr><td>
        <p>.adnxs.com</p>
        </td>
        <td>
        <p>sess</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.adnxs.com</p>
        </td>
        <td>
        <p>uuid2</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.ads.yieldmo.com</p>
        </td>
        <td>
        <p>ptrcriteo</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.adsymptotic.com</p>
        </td>
        <td>
        <p>U</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.adtech.de</p>
        </td>
        <td>
        <p>CfP</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.adtech.de</p>
        </td>
        <td>
        <p>JEB2</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.advertising.com</p>
        </td>
        <td>
        <p>APID</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.advertising.com</p>
        </td>
        <td>
        <p>IDSYNC</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.angsrvr.com</p>
        </td>
        <td>
        <p>uuid</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.angsrvr.com</p>
        </td>
        <td>
        <p>dspuuid-D66</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.bidswitch.net</p>
        </td>
        <td>
        <p>tuuid</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.bidswitch.net</p>
        </td>
        <td>
        <p>tuuid_last_update</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.bidswitch.net</p>
        </td>
        <td>
        <p>c</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.casalemedia.com</p>
        </td>
        <td>
        <p>CMID</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.casalemedia.com</p>
        </td>
        <td>
        <p>CMPS</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.casalemedia.com</p>
        </td>
        <td>
        <p>CMPRO</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.casalemedia.com</p>
        </td>
        <td>
        <p>CMST</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.casalemedia.com</p>
        </td>
        <td>
        <p>CMDD</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.casalemedia.com</p>
        </td>
        <td>
        <p>CMRUM3</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.casalemedia.com</p>
        </td>
        <td>
        <p>CMSC</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.cquotient.com</p>
        </td>
        <td>
        <p>uuid</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.cquotient.com</p>
        </td>
        <td>
        <p>bc</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.criteo.com</p>
        </td>
        <td>
        <p>uid</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.criteo.com</p>
        </td>
        <td>
        <p>eid</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.ih.adscale.de</p>
        </td>
        <td>
        <p>tu</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.liadm.com</p>
        </td>
        <td>
        <p>lidid</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.ligadx.com</p>
        </td>
        <td>
        <p>LIG_ULT</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.ligadx.com</p>
        </td>
        <td>
        <p>LIG_U18</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.lijit.com</p>
        </td>
        <td>
        <p>_lijit_retarget_rtb_165f4a61-c334-4d86-a681-3bdc9be960c8</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.lijit.com</p>
        </td>
        <td>
        <p>ljt_reader</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.lijit.com</p>
        </td>
        <td>
        <p>lijit_retarget</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.nexage.com</p>
        </td>
        <td>
        <p>CfP</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.nexage.com</p>
        </td>
        <td>
        <p>PNUT3</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.omnitagjs.com</p>
        </td>
        <td>
        <p>ayl_visitor</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.openx.net</p>
        </td>
        <td>
        <p>i</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.pixel.rubiconproject.com</p>
        </td>
        <td>
        <p>rpx</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.pubmatic.com</p>
        </td>
        <td>
        <p>KRTBCOOKIE_265</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.pubmatic.com</p>
        </td>
        <td>
        <p>PugT</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.pubmatic.com</p>
        </td>
        <td>
        <p>PUBMDCID</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.rubiconproject.com</p>
        </td>
        <td>
        <p>put_2149</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.rubiconproject.com</p>
        </td>
        <td>
        <p>rpb</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.rubiconproject.com</p>
        </td>
        <td>
        <p>khaos</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.smartadserver.com</p>
        </td>
        <td>
        <p>pid</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.smartadserver.com</p>
        </td>
        <td>
        <p>TestIfCookieP</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.smartadserver.com</p>
        </td>
        <td>
        <p>csync</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.taboola.com</p>
        </td>
        <td>
        <p>t_gid</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.taboola.com</p>
        </td>
        <td>
        <p>taboola_usg</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.teads.tv</p>
        </td>
        <td>
        <p>tt_viewer</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>.yieldmo.com</p>
        </td>
        <td>
        <p>yieldmo_id</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>ad.360yield.com</p>
        </td>
        <td>
        <p>tuuid</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>ad.360yield.com</p>
        </td>
        <td>
        <p>tuuid_last_update</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>ad.360yield.com</p>
        </td>
        <td>
        <p>um</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>ad.360yield.com</p>
        </td>
        <td>
        <p>umeh</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr><tr><td>
        <p>pixel.rubiconproject.com</p>
        </td>
        <td>
        <p>c</p>
        </td>
        <td>
        <p>Publicidad Criteo</p>
        </td>
        <td>
        <p>Terceros</p>
        </td>
        </tr></tbody></table></div>
        <h3>Si deseas consultar más información sobre nuestros Terceros prestadores de servicios publicitarios puedes consultarlo en los siguientes enlaces:</h3>
        <table border="1" cellspacing="0" cellpadding="0"><tbody><tr><td width="80" valign="top" rowspan="2">
        <p><strong>Publicidad</strong></p>
        </td>
        <td width="113" valign="top">
        <p>Doubleclick (Google, Inc.)</p>
        </td>
        <td width="165" valign="top">
        <p>Información sobre los anuncios que han sido mostrados a un usuario dentro de la red publicitaria de Google, sobre los que le interesan y sobre si visita la nuestra página web.</p>
        </td>
        <td width="72" valign="top">
        <p><span><a href="https://support.google.com/adsense/answer/2839090?hl=en">Ver</a></span></p>
        </td>
        </tr><tr><td width="113" valign="top">
        <p>Microsoft Bing/Yahoo</p>
        </td>
        <td width="165" valign="top">
        <p>Información sobre los anuncios que han sido mostrados a un usuario dentro de la red publicitaria de Bing y sus partners (Yahoo y AOL), sobre los que le interesan y sobre si visita la nuestra página web.</p>
        </td>
        <td width="72" valign="top">
        <p><span><a href="https://privacy.microsoft.com/en-us/privacystatement">Ver</a></span></p>
        </td>
        </tr><tr><td width="80" valign="top">
        <p><strong>Publicidad comportamenta</strong>l</p>
        </td>
        <td width="113" valign="top">
        <p>Criteo</p>
        </td>
        <td width="165" valign="top">
        <p>Información sobre los productos visitados durante la navegación con la finalidad de dar funcionamiento a la tecnología de seguimiento personalizada que permite a Criteo mostrar al visitante banners personalizados en su posterior navegación por páginas distintas a las de nuestro sitio web y que forman parte de la red publicitaria de Criteo. Dichos banners incluyen un enlace a la página de la política de privacidad de Criteo en la que se facilita información al usuario sobre cómo rechazar (opt out) ser monitorizado por las cookies. La duración de dichas cookies es de 30 días.</p>
        </td>
        <td width="72" valign="top">
        <p><span><a href="http://www.criteo.com/es/privacy/">Ver</a></span></p>
        </td>
        </tr></tbody></table><h3><strong>Modificar la configuración de las cookies.</strong></h3>
        <p>Usted puede restringir, bloquear o borrar las cookies de la Tienda configurando las preferencias de su navegador. Así mismo, puede activar la opción de navegación privada por la que su navegador deja de almacenar el historial de navegación, sus claves secretas, cookies y demás información de las páginas que visite.</p>
        <p>En cada navegador la configuración de las cookies es diferente, la función de "Ayuda" le mostrará cómo hacerlo, sin embargo le indicamos los enlaces directos de los principales navegadores sobre el tema:</p>
        <p><a href="http://windows.microsoft.com/es-xl/internet-explorer/delete-manage-cookies">Internet Explorer</a>(enlaces)</p>
        <p><a href="https://support.mozilla.org/es/kb/Borrar%20cookies">FireFox</a></p>
        <p><a href="https://support.google.com/chrome/answer/95647?hl=es">Chrome</a></p>
        <p><a href="https://support.apple.com/es-es/HT201265">Safari</a></p>
        <p>Para terminar, tenga en cuenta que el bloqueo de cookies puede afectar a toda o alguna funcionalidad de la web.</p></div>
    
  </section>

      <footer class="page-footer">
        
          <!-- Footer content -->
        
      </footer>
    
  </section>

</ion-content>
