<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>

	<h1>Bienvenido</h1>
	<p class="clientes">Cliente Registrado</p>

	<ion-input placeholder="Tu correo" [(ngModel)]="correo" name="correo"></ion-input>
	<ion-input type="password" placeholder="Tu contraseña" [(ngModel)]="password" name="password"></ion-input>
	
	<!--<ion-icon name="eye-outline" (click)="cambio()"></ion-icon>-->
	

	<a routerLink="/tabs/recuperar">¿Has olvidado la contraseña?</a>

	<ion-item lines="none" class="separar">
		<ion-button (click)="login()" size="large" class="sesion">INICIAR SESIÓN</ion-button>
	</ion-item>
	
	<div class="separador">
		<ion-row>
			<p class="conectar">Conectar con tu perfil de redes sociales</p>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-icon name="logo-facebook"></ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon name="logo-twitter"></ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon name="logo-instagram"></ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon name="logo-pinterest"></ion-icon>
			</ion-col>
		</ion-row>
	</div>

	<p class="pregunta">¿No tienes cuenta?</p>
	<ion-item lines="none">
		<ion-button routerLink="/tabs/registro" size="large" class="cuenta">CREAR CUENTA</ion-button>
	</ion-item>

</ion-content>
