<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p class="saludo">¡<b>Hola</b>, {{ this.nombre | async }}!</p>
  <div>
    <ion-item *ngFor="let item of items" lines="full">
      <ng-container *ngIf="item.id == 2">
        <a routerLink="/geolocalizacion" class="items">{{ item.nombre }}</a>
      </ng-container>
      <ng-container *ngIf="item.id != 2">
        <a routerLink="/tabs/cliente/{{ item.id }}" class="items">{{ item.nombre }}</a>
      </ng-container>
    </ion-item> 
    <ion-item lines="full">
	  <p (click)="cerrar()" class="items">Salir</p>
	</ion-item>
  </div>    

  <!--<app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
