<ion-header>
  <ion-toolbar>
    <ion-icon name="home"></ion-icon>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <nav>
    <ion-row>
      <ion-col>ARTES GRÁFICAS</ion-col>
      <ion-col>HIGIENE</ion-col>
      <ion-col>DEPORTE</ion-col>
      <ion-col>+</ion-col>
    </ion-row>
  </nav>
</ion-header>

<ion-content>
  <p class="category">{{ nombre }}</p>
  <ion-item *ngFor="let cat of categorias; let i = index">
    <p class="sub_categoria">{{ categorias[i].name }}</p>
    <ion-row class="grilla">
      <ng-container *ngFor="let x of categorias[i].products; let y = index">
        <!--<ion-col size="4" class="producto" *ngIf="categorias[i] == productos[0].categoria[y]" [routerLink]="
        '/producto/'+productos[0].imagen[0].id[y]">
        <ion-col size="4" class="producto" [routerLink]="'/producto/'+productos[0].imagen[0].id[y]">-->
        <ion-col size="4" class="producto" [routerLink]="'/producto/'+x.id"> 
          <div class="products" style="width: 100%;">
            <!--<img src="https://test3.wonduu.com/api/images/products/{{categorias[i].products[y].image}}" class="imgp">-->
            <img style="background: lightgray; height: 80px; width: 100px;" class="imgp" [src]="imagenes[y]">
            <p class="nombre">{{ categorias[i].products[y].name }} <b>{{  categorias[i].products[y].price }}€</b></p>
            <ion-button class="comprar">¡LO QUIERO!</ion-button>            
          </div>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-item>
</ion-content>