<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="carrusel">
      <ion-slides pager="true" [options]="slideOpts" startAutoplay>
        <ion-slide>
          <img src="../assets/slide1.jpeg" class="cimagenes">
        </ion-slide>
        <ion-slide>
          <img src="../assets/slide2.png" class="cimagenes">
        </ion-slide>
        <ion-slide>
          <img src="../assets/slide3.jpg" class="cimagenes">
        </ion-slide>
      </ion-slides>    
    </div>

    <h3 class="related" style="font-size: 18px; text-align: center;">Artículos destacados</h3>

    <ion-row>
      <ng-container>
        <ion-col size="6" *ngFor="let x of productos; let y = index"> 
          <ion-row>
            <ion-col style="display: flex;" routerLink="/producto/3617/{{ x.id }}">
              <ion-img [src]="x.ruta" style="background: lightgray; margin: auto; height: 120px; width: 120px;"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p class="nombre">{{ x.name }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="display: flex;">
              <b class="price">{{ x.price }}€</b>
            </ion-col>
          </ion-row>
        </ion-col>
      </ng-container>
    </ion-row>

    <ion-card routerLink="/tabs/categories/29">
      <ion-card-title style="text-align: center; padding: 10px 0 0 0;">Tenemos todo lo que necesitas</ion-card-title>
      <ion-card-content>
        <ion-img src="../assets/Deporte.png"></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-row>
      <ion-col *ngFor="let item of categorias[0].id; let i = index" size="12">
        <a href="/tabs/categories/{{categorias[0].id[i]}}">
          <div [style.background-image]="categorias[0].imagen[i]" 
               style="background-size: cover; width: 100%; height: 150px;"></div>  
        </a>
      </ion-col>
    </ion-row>
 
  </ion-grid>

</ion-content>
