.carrusel{
	width: 100%;
	margin-top: 80px;
}
ion-slides {
	--bullet-background-active: lightgray;
	ion-slide{
		img{
			width: auto;
    		max-width: 100%;
    		height: auto;
    		max-height: 220px;
		}

	}

}
.related{
	text-align: center;
}
.price{
	color: #a0bb30;
	padding: 0 0 0 3px;
	font-size: 14px;
	margin: auto;
}
.comprar{
	margin: auto;
	font-weight: bold;
	--background: #90B953;
	--background-hover: #171717;
	--color: black;
	width: 80px;
    height: 30px;
    font-size: 10px;
}
.comprar:hover{
	--background: #212121;
	--color: white;
}
.nombre{
	font-size: 12px; 
	font-weight: bold; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}
.nombre:click{
	white-space: normal;
	text-overflow: initial;
	overflow: visible;
}

.carta{
	width: calc(100% + 10px);
	position: relative;
	left: -5px;
	background: #a0bb31;
	margin: auto;
	// border-radius: 7.5px;
	.separador{
		display: flex;
	}
}

.subscribe {
	margin: 8px 0;
	width: 100%;

	background-color: #fff;
	border-radius: 20px;
	border: 1px solid gray;
	padding: 8px;
	color: silver;
	&:placeholder {
		color: silver;
	}

	outline: none !important;
}

.button-subscribe {
	background-color: #111;
	border-radius: 20px;
	color: #fff;
	padding: 8px;
}

.newtitle {
	font-weight: bolder;
	letter-spacing: 2px;
}

.servicios {
	border-bottom: 1px solid #ccc;
	ion-icon {
		font-size: 24px;
		margin-right: 4px;
		border-radius: 18px;
		background-color: #ddd;
		padding: 6px;
	}
	ion-col {
		text-align: center;
	}
	[name="bag-handle-outline"] {
		background-color: #a0bb31;
	}
	h5 {
		position: relative;
		top: -6px;
		font-size: 14px;
		font-weight: bolder;
		display: inline-block;
		small {
			font-weight: normal;
			display: block;
			b {
				color: #a0bb31;
			}
		}
	}
}