<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 80px;">
  	<ion-progress-bar 
		type="indeterminate" 
		*ngIf="loading[0] === 1"
		color="success"></ion-progress-bar>
  	<ion-row>
  		<ion-col *ngIf="(productos | async)?.length > 0">
			<ion-item *ngFor="let producto of productos | async; let i = index" class="item">
		  	<ion-grid>
		  		<ion-row>
		  			<ion-col>
  						<p class="nombre">{{ producto.nombre }}</p>
		  			</ion-col>
		  			<ion-col size="2" style="display: flex;">
		  				<ion-icon name="chevron-down-outline" 
		  					class="ocultar_mostrar"
		  					*ngIf="mostrar_boton == i" 
		  					(click)="abrir_producto(-1)"></ion-icon>
		  				<ion-icon name="chevron-forward-outline" 
		  					class="ocultar_mostrar"
		  					*ngIf="mostrar_boton != i" 
		  					(click)="abrir_producto(i)"></ion-icon>
		  			</ion-col>
		  		</ion-row>
		  		<ng-container *ngIf="mostrar_boton == i">
			  		<ion-row>
			  			<ion-col style="display: contents;">
			  				<p><b>Precio: </b> {{ producto.precio }}€</p><p class="unidad">(unidad)</p>
			  			</ion-col>
			  		</ion-row>
			  		<ion-row>
			  			<ion-col>
			  				<p><b>Cantidad: </b> {{ producto.cantidad }}</p>
			  			</ion-col>
			  			<ion-col class="cantidad">
			  				<ion-row class="divisor">
			  					<ion-col class="fields" (click)="cantidad_modificada(i, -1)">
			  						<p>+</p>
			  					</ion-col>
			  					<ion-col class="fields">
			  						<p>{{ cantidad_mod[i] }}</p>
			  					</ion-col>
			  					<ion-col class="fields" (click)="cantidad_modificada(i, 1)">
			  						<p>-</p>
			  					</ion-col>
			  				</ion-row>
			  			</ion-col>
			  		</ion-row>
			  		
	  				<ng-container *ngFor="let opcion of opciones[i].grupo; let x = index">

	  					<ion-row>
	  						<ion-col>

			  					<ion-item *ngIf="opciones[i] != 'paso'" class="item-opciones">

			  						<ion-label style="margin-top: 10px;">{{ opciones[i].atributo[x] }}:</ion-label>
					  				<ion-select 
						          [(ngModel)]="opcion_seleccionada[x]" 
						          name="opcion_seleccionada"
						          value="" okText="OK" 
						          cancelText="Cancelar" 
						          (ionChange)="obtener_valor_select(i, opcion_seleccionada)" 
						          class="catlist">
						          	
					          	<ng-container *ngFor="let opcions of opciones[i].valores; let z = index">
					            	
					          		<ng-container *ngIf="opciones[i].grupo[x] == opciones[i].valores[z].grupo">
					          			<ion-select-option value="{{ opcions.id }}">{{ opciones[i].valores[z].nombre }}</ion-select-option>	
					          		</ng-container>
					            	
						          </ng-container>
						        </ion-select>

			  					</ion-item>

	  						</ion-col>
	  					</ion-row>

	  				</ng-container>
			  	
			  		<ion-row class="mods">
			  			<ion-col style="display: flex;">
			  				<ion-button class="modificar" (click)="modificar_producto(i)">MODIFICAR</ion-button>
			  			</ion-col>
			  			<ion-col style="display: flex;">
			  				<ion-button style="
	  						  margin: auto;"
								  color="danger" 
								  (click)="eliminar_producto(i)">
	  							ELIMINAR
	  						</ion-button>
			  			</ion-col>
			  		</ion-row>
		  		</ng-container>
		  	</ion-grid>
			</ion-item>
			<ion-item 
				lines="none" 
				style="--background: transparent; box-shadow: none; border: none; z-index: -1;" >
			</ion-item>
  		</ion-col>
  		<ion-col *ngIf="(productos| async)?.length === 0">
  			<p class="alertap" style="margin-top: 60%; text-align: center;">No ha sido añadido ningún producto</p>
  		</ion-col>
  		<ion-col *ngIf="(this.usuario | async) == 'Iniciar sesión'">
  			<p class="alertap" style="margin-top: 60%; text-align: center;">Debes 
  				<b routerLink="/tabs/login" style="color: #9CC958;">iniciar sesión</b>
  				 para añadir un producto</p>
  		</ion-col>
  	</ion-row>
  </ion-grid>

  <ion-button 
  	style="z-index: 100;"
    *ngIf="(productos | async)?.length > 0" 
  	class="facturar" 
  	routerLink="/facturacion/{{id_carrito}}">FACTURAR</ion-button>
  
</ion-content>
