.item {
	border: 1px solid #8ac306;
	margin-bottom: 15px;
	box-shadow: 0px 5px 5px lightgrey;
}
.facturar {
	--background: #171717;
	position: fixed;
    bottom: 5px;
    left: 35%;
    width: 30%;
}
.cancelar {
	height: 50px;
	margin: auto;
}
.icono {
	height: 50px;
	width: 50px;
}
.filas {
	height: 50%;
	ion-col{
		display: flex;
	}
}
.nombre {
	font-weight: bolder;
}
.cantidad {
	/*border: 1px solid #8ac306;*/
}
.fields {
	display: flex;
	p {
		margin: auto;
	}
	border: 1px solid #8ac306;
}
.divisor {
	height: 100%;
}
.mods {
	margin-top: 15px;
	margin-bottom: 20px;
}
.ocultar_mostrar {
	margin: auto;
}
.modificar {
	margin: auto;
	--color: white;
	--background: #171717;
}
.item-opciones {
	border: none;
	box-shadow: none;
}
.unidad {
	padding: 6px 0 0 5px;
	font-size: 11px; 
	font-weight: 100;
}