<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 80px;">
  	<ion-row>
  		<ion-col *ngIf="(productos | async)?.length > 0">
			<ion-item *ngFor="let producto of productos | async" class="item">
		  		<ion-row>
		  			<ion-col size="8">
		  				<ion-row>
		  					<ion-col size="8">
		  						<p class="nombre">
		  							{{ producto.nombre }}
		  						</p>
		  					</ion-col>
		  				</ion-row>
		  				<ion-row>
		  					<ion-col>
		  						<h3 class="precio">
		  							Total: {{ producto.precio }} €
		  						</h3>
		  					</ion-col>
		  				</ion-row>
		  			</ion-col>
		  			<ion-col size="4">
		  				<ion-row class="filas">
		  					<ion-col>
			  					<ion-button class="facturar" routerLink="/facturacion/{{producto.id_carrito}}/{{producto.id}}/{{producto.nombre}}/{{producto.precio}}/{{producto.cantidad}}">FACTURAR</ion-button>
			  				</ion-col>
		  				</ion-row>
		  				<ion-row class="filas">
		  					<ion-col>
		  						<ion-button style="
								  --border-radius: 50%;
								  width: 55px;
								  height: 55px;
								  font-size: xx-small;" class="cancelar" color="danger" (click)="eliminar_producto(producto.id_carrito)">
		  							<ion-icon name="close-circle-outline" class="icono"></ion-icon>
		  						</ion-button>	
			  				</ion-col>
		  				</ion-row>
		  			</ion-col>
		  		</ion-row>
			</ion-item>
  		</ion-col>
  		<ion-col *ngIf="(productos| async)?.length == 0">
  			<p class="alertap" style="margin-top: 60%; text-align: center;">No ha sido añadido ningún producto</p>
  		</ion-col>
  	</ion-row>
  </ion-grid>

  <!--<app-explore-container name="Tab 3 page"></app-explore-container>-->
</ion-content>
