.item{
	margin: 5px;
	--background: #8ac306;
	--color: white;
	border-radius: 15px;
    box-shadow: 0px 5px 5px lightgrey;
    margin-bottom: 15px;
}
.facturar{
	--background: #171717;
	margin: auto;
}
.cancelar{
	height: 50px;
	margin: auto;
}
.icono{
	height: 50px;
	width: 50px;
}
.filas{
	height: 50%;
	ion-col{
		display: flex;
	}
}
.nombre{
	font-weight: bolder;
}