/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*.searchbar-cancel-button .sc-ion-searchbar-md, .searchbar-clear-button .sc-ion-searchbar-md {

  display: none;

}*/

ion-searchbar ion-icon {
  /*right: 16px !important;
  left: auto !important;*/
  color: #8ac306 !important;
}

.searchbar-input.sc-ion-searchbar-md {
  border-radius: 25px;
  height: auto;
  --placeholder-color: #8ac306;
  /*padding-left: 15px;*/
  border: 1px solid #b4f61c;
  font-size: 1.1rem;
  font-weight: 400;
  background-color: white;
  box-shadow: none !important;
}

.barra_estados{
  background-color: white;
  --border: none;
  border-radius: 0px;

  .searchbar-input.sc-ion-searchbar-md{

    border-radius: 0px;
    border: none;
    --placeholder-color: black;
    
  }

  ion-searchbar ion-icon{

    display: none;

  }

}

.inputs > .native-input.sc-ion-input-md{
  background: white !important;
  border-radius: 20px;
  height: 40px;
  padding: 0 0 0 16px;
  margin: 30px;
}

.resena{
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  margin-top: 90px;
    margin-bottom: 5px;
}