.titulo{
	float: left;
}
.logo{
	height: 45px;
	width: 45px;
}
.barra_busqueda{
	/*float: right;*/
	--border-radius: 25px;
}
ion-searchbar div input{
	box-shadow: none;
	border: 1px solid green;

}
.headers{
	text-align: right;
	font-weight: bold;
	text-align: center;
	p, ion-menu-button{
		margin: 0px;
		font-size: 12px;
		font-weight: 800;
	}
}
h3{
	color: #90B953;
	font-weight: bold;
	font-size: 16px;
	margin-left: 10%;
}
a{
	text-decoration: none;
}
.usuario, ion-item{
	a, p{
		color: #90B953;
	}
}
ion-item{
	margin-left: 15%;
}
.links{
	color: gray;
	margin-left: 10%;
}
.iconos{
	margin: auto;
	height: 100%;
	width: 40%;
}
.results{
	text-align: left;
	margin: auto;
}
.back{
	color: #90B953;
	border: 3.5px solid #90B953;
    border-radius: 50%;
    margin: auto;
    height: 40px;
    font-size: 40px;
    font-weight: bolder;
    width: 40px;
}
.contenedora{
	height: 100%;
	width: 100%;
	display: flex;
}