<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
	<p class="resena">Cambio de contraseña</p>

	<ion-grid>
		<ion-item lines="none" class="forms">
			<ion-label position="floating">Tu nueva contraseña</ion-label>
			<ion-input class="inputs" [(ngModel)]="npassword" name="npassword" type="password" required></ion-input>
		</ion-item>
		<ion-item lines="none" class="forms">
			<ion-label position="floating">Repetir contraseña</ion-label>
			<ion-input class="inputs" [(ngModel)]="confirmar" name="confirmar" type="password" required></ion-input>
		</ion-item>
		<ion-item lines="none" class="cambio">
			<ion-button (click)="recuperar()" size="medium">CAMBIAR</ion-button>
		</ion-item>
	</ion-grid>
</ion-content>