<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid style="margin-top: 80px;">
		<ion-row>
			<ion-col size="12">
				<p style="text-align: center;">SELECCIONE UNA DIRECCIÓN PARA ENVIAR EL PEDIDO</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ng-container *ngIf="direcciones.length > 0">
				<ng-container *ngFor="let direccion of (dirs | async); let i = index">
					<ion-col *ngIf="i < limite" size="4">
						<ion-card class="tarjeta" (click)="seleccionar(i+1)">
						  <ion-card-header>
						    <ion-card-subtitle>Dirección</ion-card-subtitle>
						  </ion-card-header>

						  <ion-card-content>
						    {{ direccion.direccion }}
						  </ion-card-content>
						</ion-card>
					</ion-col>
				</ng-container>
			</ng-container>
			<ion-col size="12" *ngIf="(dirs | async)?.length == 0" routerLink="/geolocalizacion">
				<ion-card>
					<ion-card-content>
						    No tiene registrada ninguna dirección de envío toque aquí para crear una nueva
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<p class="mostrar" *ngIf="(dirs | async)?.length > 3" (click)="mostrar()">{{ texto_dir }}</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="colbuy">
				<ion-button [disabled]="direccion == 0" class="comprar" (click)="comprar(direccion)">Comprar</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
