<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
  <p class="titulo">{{ nombre }}</p>
	<img [src]="imagen" class="productox">
  <ion-select value="Variantes" okText="OK" cancelText="Cancelar" class="catlist">
    <ion-select-option value="Variantes">Opción 1</ion-select-option>
    <ion-select-option value="Variantes 2">Opción 2</ion-select-option>
  </ion-select>
  <ion-item class="cat" lines="none">Variante</ion-item>

  <ion-grid fixed>
  	<ion-row class="opciones1">
     <ion-col class="celda" size="6">

       <ion-item class="ccompra">
         <ion-label>Opciones de financiación</ion-label>
         <ion-select value="" okText="OK" cancelText="Cancelar">
          <ion-select-option value="1">Pay7in</ion-select-option>
          <ion-select-option value="2">Celetem</ion-select-option>
         </ion-select>
       </ion-item>
       
       <ion-item class="ccompra">
         <ion-label>Cuotas</ion-label>
         <ion-select value="" okText="OK" cancelText="Cancelar">
          <ion-select-option value="1">2 meses</ion-select-option>
          <ion-select-option value="2">4 meses</ion-select-option>
         </ion-select>
       </ion-item>
       
     </ion-col>
     <ion-col class="celda" size="6">

       <p class="cantidadl">Cantidad</p>
       <ion-item class="ccompra" lines="none">
         
         <div class="contador">
           <ion-button (click)="this.cantidad = cantidad - 1" [disabled]="this.cantidad <= 0" class="c3">-</ion-button>
           <div class="c2">
            <h2>{{ cantidad }}</h2>
           </div>
           <ion-button (click)="this.cantidad = cantidad + 1 " [disabled]="this.cantidad >= this.existencia" class="c1">+</ion-button>
         </div>
       </ion-item>

     </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="montosc">{{ precio }} € /mes en 8 cuotas</p>
      </ion-col>
      <ion-col>
        <h1 class="preciox">{{ precio }} €</h1>
        <p class="impuestos">(impuestos incluidos)</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button size="large" expand="full" class="bcarrito">
    <ion-icon name="cart-outline"></ion-icon>
    Añadir al carrito
  </ion-button>

  <div class="datos">
    <b><p>Referencia: {{ referencia }}</p>
    <p>{{ nombre }}</p>
    <p>Descripción:</p>
    <p>{{ descripcion_corta }}</p>
    <p *ngIf="ocultar">Detalles del producto:</p>
    <p *ngIf="ocultar" [innerHTML]="descripcion"></p>
    <p id="desplegar" (click)="this.ocultar = true; revision()">ver más</p>
    <p id="ocultar" (click)="this.ocultar = false; revision()">ocultar</p></b>
  </div>

  <ion-grid>
    <ion-row class="valores">
      <ion-col size="6">
        <ion-item lines="none" class="grid">
          <ion-icon name="heart-outline"></ion-icon>
          <p>Añadir a la lista de deseos</p>        
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none" class="grid2">
          <ion-icon name="star-outline"></ion-icon>
          <p>Valorar producto</p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1 class="relatedp">Productos relacionados</h1>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="4" *ngFor="let p of _productos" [routerLink]="'/producto/'+p.id">
        <ion-row>
          <ion-col>
            <img src="{{ p.imagen }}" class="imgp" style="height: 100px;">    
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="nombre">{{ p.nombre }}</p>
          </ion-col>
          <ion-col style="display: flex;">
            <b class="precio_color">{{ p.precio }}€</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="display: flex;">
            <ion-button class="comprar" style="margin: auto;">¡LO QUIERO!</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--<div class="products">
    <div class="producto" *ngFor="let p of _productos" [routerLink]="'/producto/'+p.id">
        <img src="{{ p.imagen }}" class="imgp">
        <p class="nombre">{{ p.nombre }} <b>{{ p.precio }}€</b></p>
        <ion-button class="comprar">¡LO QUIERO!</ion-button>
    </div>
  </div>-->

</ion-content>
