.colbuy{
	display: flex;
}
.comprar{
	margin: auto;
	--background: #8ac306;
	--color: black;
	font-weight: bold;
}
.comprar:hover, .tarjeta:hover{
	--background: #171717;
	--color: white;
	ion-card-title{
		--color: white;
	}
}
.tarjeta{
	--background: #8ac306;
	--color: black;
}
.mostrar{
	float: right;
	font-weight: bolder;
}