<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content #content>
	<p class="misd" (click)="showingAddresses = true; adding = 0">Mis direcciones de <b>envío</b></p>

	<ion-grid *ngIf="showingAddresses">
		
		<div *ngIf="direcciones.length > 0">
			<ion-list *ngFor="let d of direcciones; let i = index">
				<ion-item style="width: calc(100% - 20px);">

					<div style="width: 100%;" (click)="scrolling(i)">

						<h5>{{d.alias}}</h5>

					  <p style="line-height: 1.8;">{{ d.direccion }} <br> {{d.postcode}}, {{d.city}}, {{d.estado}}, España
					  	<br> Teléfono: {{d.phone}}
					  </p>

						<ion-row *ngIf="mostrar == i + 1" id="b{{ i }}">
							<ion-col size="6" style="display: flex;">
								<ion-button (click)="borrar(direcciones[i].id)" color="danger" fill="solid" style="margin: auto;">
									<ion-icon name="close-circle-outline"></ion-icon>
								</ion-button>
							</ion-col>
							<ion-col size="6" style="display: flex;">
								<ion-button (click)="editar(direcciones[i].id); showingAddresses = false;" color="dark" fill="solid" style="margin: auto;">
									<ion-icon name="pencil-outline"></ion-icon>
								</ion-button>
							</ion-col>
						</ion-row>

					</div>

				</ion-item>
			</ion-list>
		</div>

	</ion-grid>
	<!-- <p class="alias">Alias, identifica tus direcciones para diferenciarlas</p> -->
	<ion-grid *ngIf="!showingAddresses">
		<ion-row>
			<ion-col size="11" class="divisores">
				<ion-item class="ion-no-padding">
					<ion-label style="overflow: unset;" position="floating">Alias, identifica tus direcciones para diferenciarlas <b>*</b></ion-label>
					<ion-input [(ngModel)]="alias" name="alias" placeholder="Casa / Apartamento / Piso" required></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col size="11" class="divisores">
				<ion-item class="ion-no-padding">
					<ion-label position="floating">Nombre <b>*</b></ion-label>
					<ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="11" class="divisores">
				<ion-item class="ion-no-padding">
					<ion-label position="floating">Apellidos <b>*</b></ion-label>
					<ion-input [(ngModel)]="apellidos" name="apellidos" required></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="11" class="divisores">
				<ion-item class="ion-no-padding">
					<ion-label position="floating">Empresa</ion-label>
					<ion-input [(ngModel)]="empresa" name="empresa"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="11" class="divisores">
				<ion-item class="ion-no-padding">
					<ion-label position="floating">Dirección <b>*</b></ion-label>
					<ion-input value="{{ resultado }}" [(ngModel)]="direccion" name="direccion" required></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="11" class="divisores">
				<ion-item class="ion-no-padding">
					<ion-label position="floating">CP <b>*</b></ion-label>
					<ion-input value="{{ ubicacion.postalCode }}" [(ngModel)]="cp" name="cp" required></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="11" class="divisores">
				<ion-item class="ion-no-padding">
					<ion-label position="floating">Ciudad <b>*</b></ion-label>
					<ion-input value="{{ ubicacion.locality }}" [(ngModel)]="ciudad" name="ciudad" required></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="11" class="divisores">

  				<ion-item class="ion-no-padding">
  					<ion-label position="floating">Provincia <b>*</b></ion-label>
					<ion-select class="lista_estados" [(ngModel)]="estado_id" name="estado_id" style="height: 50px;">
	  					<ion-select-option 
	  					value = "{{ resultado.id }}"
	  					lines="full" 
	  					(click)="buscador_info(i)" 
	  					class="lista_estados"
	  					*ngFor="let resultado of resultados; let i = index" required>
	  						{{ resultado.name }}
	  					</ion-select-option>
	  				</ion-select>
  				</ion-item>
		
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="11" class="divisores">
				<ion-item class="ion-no-padding">
					<ion-label position="floating">Teléfono <b>*</b></ion-label>
					<ion-input [(ngModel)]="telefono" name="telefono" required></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="11" class="divisores">
				<ion-item class="ion-no-padding">
					<ion-label position="floating">Teléfono 2 </ion-label>
					<ion-input [(ngModel)]="telefono2" name="telefono2"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="11" class="divisores">
				<ion-item class="ion-no-padding">
					<ion-label position="floating">DNI/ Cif/ Nif</ion-label>
					<ion-input [(ngModel)]="identificacion" name="identificacion"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
	
		<!-- <ion-row class="boton">
			
		</ion-row> -->

		<div lines="none" class="carta" *ngIf="adding < 1">
			<ion-row>
				<ion-col size="12">
					<label class="etiqueta">
						<b>Añadir nueva dirección</b>
					</label>
				</ion-col>
			
				<ion-col size="12" class="separador">
					<ion-icon name="add-circle-outline" class="add" (click)="add_location()"></ion-icon>
				</ion-col>
			</ion-row>
		</div>

		<div lines="none" class="carta" *ngIf="adding > 0">
			<ion-row>
				<ion-col size="12">
					<label class="etiqueta">
						<b>Actualizar dirección</b>
					</label>
				</ion-col>
			
				<ion-col size="12" class="separador">
					<ion-icon name="pencil-outline" class="add" (click)="enviar_edicion(edicion)"></ion-icon>
				</ion-col>
			</ion-row>
		</div>

	</ion-grid>

	<div lines="none" class="carta" *ngIf="showingAddresses">
		<ion-row>
			<ion-col size="12">
				<label class="etiqueta">
					<b>Añadir nueva dirección</b>
				</label>
			</ion-col>
		
			<ion-col size="12" class="separador">
				<ion-icon name="add-circle-outline" class="add" (click)="blanquear_formulario(); showingAddresses = false"></ion-icon>
			</ion-col>
		</ion-row>
	</div>

</ion-content>
