<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
	<p class="resena">{{ titulo }} <b>{{ esquema }}</b></p>
	<ion-grid>
			<ion-row>
				<ion-col size="11" class="divisores">
					<ion-item>
						<ion-label position="floating">Nombre <b>*</b></ion-label>
						<ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="11" class="divisores">
					<ion-item>
						<ion-label position="floating">Apellidos <b>*</b></ion-label>
						<ion-input [(ngModel)]="apellidos" name="apellidos" required></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="11" class="divisores">
					<ion-item>
						<ion-label position="floating">Dirección de correo electrónico <b>*</b></ion-label>
						<ion-input [(ngModel)]="correo" name="correo" required></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="11" class="divisores">
					<ion-item>
						<ion-label position="floating">Fecha de nacimiento <b>*</b></ion-label>
						<ion-datetime displayFormat="DD/MM/YYYY" placeholder="DD/MM/YYYY" [(ngModel)]="fecha" name="fecha" required></ion-datetime>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="11" class="divisores">
					<ion-item>
						<ion-label position="floating">Contraseña <b>*</b></ion-label>
						<ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="11" class="gdiv">
					<ion-item lines="none">
						<ion-button class="guardar" (click)="editar()">GUARDAR</ion-button>
					</ion-item>
				</ion-col>
			</ion-row>

	</ion-grid>
</ion-content>
