.resena{
	text-align: center;
	font-size: 22px;
	font-weight: 100;
	margin-top: 90px;
    margin-bottom: 5px;
}
.divisores{
	margin: auto;
	ion-label{
		font-weight: 100;
		b{
			color: red;
		}
	}
}
.guardar{
	margin: auto;
	--background: #171717;
	--color: white;
	height: 45px;
	width: 200px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}
.gdiv{
	margin: auto;
}