<ion-header>
  <ion-toolbar>
    <ion-title>politicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section id="main" style="padding: 0 5px 0 7.5px; margin-top: 100px;">
        
    <p style="font-weight: 100;" class="page_heading">Política de privacidad</p>
        
      <section id="content" class="page-content page-cms page-cms-6">
        
          <div class="style_content cms_content"><h3><strong>Política de privacidad</strong></h3>
    <h4><strong>Tratamiento de datos de carácter personal</strong></h4>
    <p><span><strong>¿Quién es el responsable de la web y de los datos que se recopilan?</strong></span></p>
    <p></p>
    <p>www.wonduu.com (en adelante la Tienda) es propiedad de K-2 GROUP NEW BUSINESS SPAIN SL (en adelante el Vendedor) con domicilio en, <span>&nbsp;Polígono las Avenidas, Calle 2ª Nº30, Torrejón de la Calzada, Madrid, cp 28981,&nbsp;&nbsp;Madrid&nbsp;</span>con CIF/NIF B84999291 teléfono 91 605 26 15 y correo electrónico comercial@wonduu.com.</p>
    <p><strong>¿Con qué finalidad se recogen sus datos?</strong></p>
    <p><span>Los datos recogidos en la web serán objeto de tratamiento automatizado con el fin de ejecutar el contrato de venta, de realizar estadísticas, gestionar el envío de la información que nos soliciten, facilitar a los interesados ofertas o información de su interés, pudiendo crear perfiles comerciales en función de la información facilitada.</span></p>
    <p><strong>¿Cuánto tiempo conservamos sus datos?</strong></p>
    <p><span>Los datos que nos proporcione se conservarán hasta que solicite la supresión de los mismos.</span></p>
    <p><strong>¿Qué derechos tiene y cómo los puede ejercer?</strong></p>
    <p><span>Los usuarios pueden comunicar a nuestro correo de contacto o mediante comunicación escrita a nuestro domicilio, adjuntando copia de su dni, el ejercicio de su derecho respecto a sus datos personales a acceder, rectificar o suprimir, limitar el acceso, oponerse a su tratamiento o a la portabilidad de los mismos.</span></p>
    <p><span>Si necesita más información respecto a los derechos referidos puede conseguirla en esta página de la Agencia Española de Protección de Datos </span><a href="http://www.agpd.es/portalwebAGPD/CanalDelCiudadano/derechos/index-ides-idphp.php"><span>aquí</span></a><span>.</span></p>
    <p><strong>¿Dónde puedo reclamar si considero que no se respetan mis derechos como usuario?</strong></p>
    <p>Puede dirigir sus reclamaciones en materia de protección de datos a la autoridad que por su territorio corresponda que puede consultar <a href="https://www.agpd.es/portalwebAGPD/enlaces/index-ides-idphp.php">aquí</a> , siendo la <a href="https://www.agpd.es/portalwebAGPD/index-ides-idphp.php">Agencia Española de Protección de Datos</a> la que tiene la competencia general en el Estado Español.</p>
    <p><strong>¿Qué legitima el tratamiento de sus datos personales?</strong></p>
    <p><span>Tratamos sus datos personales al haber prestado consentimiento expreso al aceptar nuestra política de privacidad o por la necesaria ejecución del contrato suscrito.</span></p>
    <p><strong>¿Cedemos sus datos a terceros?</strong></p>
    <p>Sus datos nunca serán cedidos a terceros ajenos a la ejecución del contrato de compra sin su consentimiento. Únicamente se facilitarán sus datos como cliente a la empresa de transporte para proceder a la entrega y ejecución del contrato. Nuestras empresas de transporte son las siguientes (puede acceder a su información legal enlazando en la relación siguiente):</p>
    <p><a href="http://www.envialia.com/politica-de-privacidad-clientesyproveedores.html">Envialia</a></p>
    <p><a href="http://www.correos.es/ss/Satellite/site/pagina-privacidad/sidioma=es_ES">Correos</a></p>
    <p><a href="https://www.dbschenker.com/es-es/meta/privacy-policy">DB Shencker</a></p>
    <p>Para aquellos suscriptores de nuestro boletín que hayan aceptado esta política de privacidad se les informa que la newsletter se gestiona a traves de la aplicación <a href="https://mailchimp.com/legal/privacy/">Mailchimp</a>,&nbsp;</p>
    <p></p>
    <p>En cumplimiento con lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal ('LOPD'), le informamos de que los datos personales e información que nos facilite al cumplimentar cualquier formulario electrónico disponible en el Tienda ('Datos'), serán incorporados en un fichero de datos de carácter personal titularidad del Vendedor.</p>
    <p>Los datos obtenidos serán empleados para el cumplimiento de las finalidades siguientes: ejecutar en todos sus pasos el proceso de compra on line, así como establecer una relación de usuarios de la Tienda inscritos, con el objeto de mantener contacto, así como su gestión, y la realización de estadísticas y segmentación.&nbsp;</p>
    <div class="legalplus legal_international_data">El usuario inscrito podrá recibir automáticamente publicaciones y comunicaciones comerciales de la Tienda, aceptando expresamente el usuario su consentimiento a tal fin. El usuario podrá darse de baja de dichas comunicaciones comerciales periódicas en cualquier momento mediante remisión al correo electrónico comercial@wonduu.com indicando dicha intención.</div>
    <p>El Vendedor es el responsable del fichero de forma individual y se compromete a no destinar los datos a una finalidad distinta para la cual fueron recogidos ni a ceder los mismos de forma ilegítima a terceros. También se compromete a tratar sus datos confidencialmente y a aplicar las medidas de seguridad de índole técnica y/u, organizativa necesarias para evitar su tratamiento o acceso no autorizado según establece la normativa vigente en materia de protección de datos.</p>
    <p>Estos términos y condiciones pueden ser modificados. 7 días antes de su entrada en vigor, se comunicarán al usuario esos cambios mediante correo electrónico o aviso en nuestra web.</p>
    <h4></h4>
    <h3></h3></div>
  </section>

      <footer class="page-footer">
        
          <!-- Footer content -->
        
      </footer>
    
  </section>
</ion-content>
