<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>

	<p class="resena">Crear una cuenta</p>

	<ion-item lines="none" class="datos">
		<ion-label position="stacked" class="flabel">Nombre <p style="color: red; padding: 0 0 0 10px;">*</p></ion-label>
		<ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
	</ion-item>
	<ion-item lines="none" class="datos">
		<ion-label position="stacked" class="flabel">Apellidos <p style="color: red; padding: 0 0 0 10px;">*</p></ion-label>
		<ion-input [(ngModel)]="apellido" name="apellido" required></ion-input>
	</ion-item>
	<ion-item lines="none" class="datos">
		<ion-label position="stacked" class="flabel">Dirección de correo electrónico <p style="color: red; padding: 0 0 0 10px;">*</p>
		</ion-label>
		<ion-input [(ngModel)]="correo" name="correo" required></ion-input>
	</ion-item>
	<ion-item lines="none" class="datos">
		<ion-label position="stacked" class="flabel">Fecha de nacimiento <p style="color: red; padding: 0 0 0 10px;">*</p></ion-label>
		<ion-datetime displayFormat="DD/MM/YYYY" placeholder="DD/MM/YYYY" [(ngModel)]="fecha" name="fecha" required></ion-datetime>
	</ion-item>
	<ion-item lines="none" class="datos">
		<ion-label position="stacked" class="flabel">Contraseña <p style="color: red; padding: 0 0 0 10px;">*</p></ion-label>
		<ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
	</ion-item>

	<ion-item lines="none">
		<ion-button (click)="registro()" size="large" class="sesion">GUARDAR</ion-button>
	</ion-item>
	
	<ion-item class="separador" lines="none">
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<p class="conectar">Nuestras redes sociales:</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="3">
					<a href="https://www.facebook.com/Wonduu/">
						<ion-icon name="logo-facebook"></ion-icon>
					</a>
				</ion-col>
				<ion-col size="3">
					<a href="https://twitter.com/_wonduu_">
						<ion-icon name="logo-twitter"></ion-icon>
					</a>
				</ion-col>
				<ion-col size="3">
					<a href="https://www.instagram.com/wonduu_2019/?hl=es">
						<ion-icon name="logo-instagram"></ion-icon>
					</a>
				</ion-col>
				<ion-col size="3">
					<a href="https://www.youtube.com/user/VIDEOSGRUPOK2/feed">
						<ion-icon name="logo-youtube"></ion-icon>
					</a>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-item>

</ion-content>
